<% form_tag({:action => :edit_commit}, {:name => 'providers_form'}) do %>
<%= hidden_field_tag('provider[id]', @item.id)  %>
<table class = "edit">
  <caption>Редактирование поставщика</caption>
  <thead>
    <tr>
      <th colspan = "2">
        <%= submit_tag('Изменить')  %>
        <%= button_to_function('Отмена',
          "document.providers_form.action = '#{url_for(:action => :list)}';
           document.providers_form.submit();")  %>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Название поставщика:</th>
      <td><%= text_field_tag('provider[name]', @item.name, :size => 20)  %></td>
    </tr>
    <tr>
      <th>Юридический адрес:</th>
      <td><%= text_field_tag('provider[address]', @item.address, :size => 20)  %></td>
    </tr>
    <tr>
      <th>Доверительный коэффициент:</th>
      <td><%= text_field_tag('provider[ratio]', @item.ratio, :size => 5)  %></td>
    </tr>
  </tbody>
</table>
<% end %>
