<% form_tag({:action => :edit_commit}, {:name => 'items_form'}) do %>
<%= hidden_field_tag('item[id]', @item.id)  %>
<table class = "edit">
  <caption>Редактирование товара</caption>
  <thead>
    <tr>
      <th colspan = "2">
        <%= submit_tag('Изменить')  %>
        <%= button_to_function('Отмена',
          "document.items_form.action = '#{url_for(:action => :list)}';
           document.items_form.submit();")  %>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Название товара:</th>
      <td><%= text_field_tag('item[name]', @item.name, :size => 20)  %></td>
    </tr>
    <tr>
      <th>Размеры товара:</th>
      <td>
        X: <%= text_field_tag('item[size_x]', @item.size_x, :size => 5)  %>
        Y: <%= text_field_tag('item[size_y]', @item.size_y, :size => 5)  %>
        Z: <%= text_field_tag('item[size_z]', @item.size_z, :size => 5)  %>
      </td>
    </tr>
    <tr>
      <th>Вес товара:</th>
      <td><%= text_field_tag('item[weight]', @item.weight, :size => 5)  %></td>
    </tr>
    <tr>
      <th>Каталог:</th>
      <td><%= catalogues_list(@item.catalogue_id.to_s) %></td>
    </tr>
    <tr>
      <th>Описания товара:</th>
      <td>
        <table>
          <thead>
            <tr>
              <th>Ключ</th>
              <th>Описание</th>
            </tr>
          </thead>
          <tbody>
            <% i = 0 %>
            <% @item.prms.each do |k, v| %>
             <%= render(:partial => 'attribute_row',
                        :locals => {:id_num => i.to_s,
                                    :key => k,
                                    :value => v}) %>
            <% i += 1 %>
            <% end %>
             <%= render(:partial => 'attribute_row',
                        :locals => {:id_num => @item.prms.size.to_s,
                                    :key => '',
                                    :value => ''}) %>
          </tbody>
          <tfoot>
            <tr id = "add">
              <%= render(:partial => 'add_attribute_button',
                         :locals => {:last_item => @item.prms.size.to_s}) %>
            </tr>
          </tfoot>
        </table>
      </tr>
      <tr>
        <th>Цены:</th>
        <td>
          <%= render(:partial => 'item_periods/editable_list',
                     :locals => {:item => @item,
                                 :sender_class => ItemsController })  %>
        </td>
      </tr>
      <tr>
        <th>Склады:</th>
        <td>
          <%= render(:partial => 'item_storages/editable_list',
                     :locals => {:item => @item,
                                 :sender_class => ItemsController })  %>
        </td>
      </tr>
  </tbody>
</table>
<% end %>
