<TABLE class = "list">
  <CAPTION>Поставки товара &quot;<%= @item.name %> &quot;<br>
    <div class = "button-link">
      <span>
        <%= link_to('Добавить новую поставку', :action => 'create',
          :id => @item.id) %>
      </span>
    </div>
  </CAPTION>
  <% if @items.size == 0 %>
    <%=  empty_list() %>
  <% else %>
    <THEAD>
      <TR>
        <TH>Дата поставки</TH>
        <TH>Поставщик</TH>
        <TH>Цена</TH>
        <TH>Кол-во</TH>
        <TH>Контракт</TH>
        <% if @inline_actions.size > 0  %>
        <TH>Действия</TH>
        <% end %>
      </TR>
    </THEAD>
    <TBODY>
      <% @items.each do |p| %>
      <TR>
        <TD><%= p.providing_date %></TD>
        <TD><%= p.provider.name %></TD>
        <TD><%= p.price %></TD>
        <TD><%= p.quantity %></TD>
        <TD><%= p.contract %></TD>
        <%= inline_menu(p) %>
      </TR>
      <% end %>
    </TBODY>
  <% end %>
</TABLE>
